<?xml version="1.0" encoding="utf-8"?>
<Content Key="3255605f-5073-4a13-9577-c47d5d2046d0" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="11eac302-2966-4d6d-a8a4-2069b647df3a">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-01T11:39:34</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7edf4a64-87dc-416e-b051-ddb30d67c8b6">contactPage</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "feb16dc1-bf3c-4497-afd9-af0bdfd084e0",
      "udi": "umb://element/a8b41d614dbc4ca093888985d0640c42",
      "placeholderText": "Email",
      "uniqueName": "email-input",
      "labelText": "Email",
      "inputType": "[\u0022email\u0022]",
      "hideLabel": 1,
      "isRequired": 1
    },
    {
      "contentTypeKey": "128bd937-fef6-4ab0-b337-952c84c90502",
      "udi": "umb://element/f607bc9e75e24f09a79e21a489508944",
      "uniqueName": "input-name",
      "placeholderText": "Name",
      "labelText": "Name",
      "inputType": "[\u0022text\u0022]",
      "hideLabel": 1,
      "isRequired": 1
    },
    {
      "contentTypeKey": "4c463db6-48e2-4087-95d3-2513457cce41",
      "udi": "umb://element/3bc2eaafdb73438090036813168ff61c",
      "uniqueName": "contact-input-phone",
      "placeholderText": "Phone",
      "labelText": "Phone",
      "inputType": "[\u0022tel\u0022]",
      "hideLabel": 1,
      "isRequired": 1
    },
    {
      "contentTypeKey": "b0458df8-18b8-4069-a42c-14141a22d7e5",
      "udi": "umb://element/e0dfd328fb284b168e5fad572b99816a",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    },
    {
      "contentTypeKey": "33f1271f-fee2-4e86-a0c5-216fec4bcdf7",
      "udi": "umb://element/af7114ad5ba8438b8c8147afd6160457",
      "uniqueName": "contact-dropdown",
      "dropdownSelection": "[\u0022Financial Consulting\u0022,\u0022Financial Advisors\u0022]",
      "isRequired": 1,
      "placeholderText": "Test"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f607bc9e75e24f09a79e21a489508944",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/3bc2eaafdb73438090036813168ff61c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a8b41d614dbc4ca093888985d0640c42",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/af7114ad5ba8438b8c8147afd6160457",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e0dfd328fb284b168e5fad572b99816a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <contactFormText>
      <Value><![CDATA[{
  "markup": "\u003Ch6 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022color: rgb(217, 195, 169);\u0022\u003EREQUEST A CALL BACK\u003C/span\u003E\u003C/h6\u003E\n\u003Ch2 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022color: rgb(79, 89, 85);\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003Cbr\u003E\u003C/span\u003E\u003C/h2\u003E\n\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022p-regular\u0022\u003E\u003Cem\u003E\u003Cspan style=\u0022color: rgb(79, 89, 85);\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas\u003Cbr\u003Econsectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/span\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactFormText>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "44351f4d-8ab1-40a8-9994-32b13ef8498e",
      "udi": "umb://element/8c0f3a781d714e5db288ebbaa486c7be",
      "sectionTitle": "Contact Section",
      "sectionImage": "[{\u0022key\u0022:\u002212d429dd-5dcd-4646-ad50-a59000c87a76\u0022,\u0022mediaKey\u0022:\u0022c2c1ca92-1279-4edf-889f-250df47c5490\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8c0f3a781d714e5db288ebbaa486c7be",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>