<?xml version="1.0" encoding="utf-8"?>
<Content Key="30336ea3-de6b-421a-a00f-733f9ab5c75d" Alias="Projects" Level="2">
  <Info>
    <Parent Key="11eac302-2966-4d6d-a8a4-2069b647df3a">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-24T16:55:45</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57e79dc6-be9a-44f9-9fc4-5f96aa505607">projectsListPage</Template>
  </Info>
  <Properties>
    <asideFormBackgroundColor>
      <Value><![CDATA[{
  "label": "Primary-Color",
  "value": "#4F5955"
}]]></Value>
    </asideFormBackgroundColor>
    <asideFormInformation>
      <Value><![CDATA[{
  "markup": "\u003Ch4\u003E\u003Cspan style=\u0022color: rgb(217, 195, 169);\u0022\u003EHow can we help you?\u003C/span\u003E\u003C/h4\u003E\n\u003Cp\u003E\u003Cspan style=\u0022color: rgb(255, 255, 255);\u0022\u003Eonline support 24/7, we are here to \u003Cbr\u003Ehelp you\u003C/span\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </asideFormInformation>
    <contentLeft>
      <Value><![CDATA[1]]></Value>
    </contentLeft>
    <contentRight>
      <Value><![CDATA[]]></Value>
    </contentRight>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "44351f4d-8ab1-40a8-9994-32b13ef8498e",
      "udi": "umb://element/ef88b574c95c44cead6553c9e16c1b9d",
      "sectionTitle": "Let us know about your next project",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "sectionImage": "[{\u0022key\u0022:\u00228983c39a-b5bd-4de0-a617-fa0ce0f28737\u0022,\u0022mediaKey\u0022:\u0022c2c1ca92-1279-4edf-889f-250df47c5490\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ef88b574c95c44cead6553c9e16c1b9d",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[]]></Value>
    </preamble>
    <projectHeading>
      <Value><![CDATA[]]></Value>
    </projectHeading>
    <tags>
      <Value><![CDATA[[
  "Report",
  "Business Plans",
  "Insight",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
  </Properties>
</Content>