<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff96772a-43b8-4bf0-abf3-492d2fee1bb8" Alias="Services" Level="2">
  <Info>
    <Parent Key="11eac302-2966-4d6d-a8a4-2069b647df3a">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-16T12:14:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6057ea21-d60d-4bf4-8339-2e5dbe542882">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[{
  "markup": "\u003Ch2 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022color: rgb(79, 89, 85);\u0022\u003EWe Provide The Solutions\u0026nbsp;\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022color: rgb(79, 89, 85);\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </customHeadline>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "44351f4d-8ab1-40a8-9994-32b13ef8498e",
      "udi": "umb://element/e4457197e60a415db8cbe94cd799ac7f",
      "sectionTitle": "Let us know about your next project",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "sectionImage": "[{\u0022key\u0022:\u00228b7cae04-bbd8-40e1-9410-bf36736fe692\u0022,\u0022mediaKey\u0022:\u0022c2c1ca92-1279-4edf-889f-250df47c5490\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e4457197e60a415db8cbe94cd799ac7f",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "d138f452-5b15-4d12-bee8-bf81fd3f3c69",
    "mediaKey": "8dbddd7d-f4f3-457b-93c4-2f7504305f80",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>