<?xml version="1.0" encoding="utf-8"?>
<Content Key="2057d5fa-d8a5-4208-b0d0-dbf8e923e179" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-09T13:32:26</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[info@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[123 456 78 90]]></Value>
    </officePhoneNumber>
    <partnerSlides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/fe08eb3e6f334fa0bd9f4d11c4dcdec4",
      "selectedImage": "[{\u0022key\u0022:\u00229d471c37-42f1-4991-a1f8-2a1b293017f2\u0022,\u0022mediaKey\u0022:\u002231565512-637a-4d0a-92b8-1f11cd45c51e\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "freedombird"
    },
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/b14a4df816c34cfbb9c90cdb941aee32",
      "selectedImage": "[{\u0022key\u0022:\u0022b2e67a31-b7e9-44c0-b24e-7aa43c0fed4d\u0022,\u0022mediaKey\u0022:\u0022d9181c37-f56f-465c-aa2a-70dc0d4d6370\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "identity"
    },
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/9129fa0d09244d1ea6ab47273b74813f",
      "selectedImage": "[{\u0022key\u0022:\u002271fab2c0-f4a3-45ce-be02-65d5ac2d3878\u0022,\u0022mediaKey\u0022:\u00229229cc3f-4e5b-4b9d-9a81-e3bdd0594897\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "natural"
    },
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/6cacb9d811f045599246b68c84b3c4fb",
      "selectedImage": "[{\u0022key\u0022:\u0022ab9141a9-adc3-4040-bb9c-ede6c9b8f2fc\u0022,\u0022mediaKey\u0022:\u0022131ff430-eb23-4c58-8ded-0e3228fc96c8\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "simpleaf"
    },
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/065ea7842e0f497f8da303325877cfd7",
      "selectedImage": "[{\u0022key\u0022:\u00226c73432e-6cce-4dd5-8a4a-a15a6c4c0153\u0022,\u0022mediaKey\u0022:\u002297c0dbb7-e771-47f3-8bfe-8c27fc54822b\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "globe"
    },
    {
      "contentTypeKey": "ea44e25a-4164-4758-849a-2b6774b51ae1",
      "udi": "umb://element/8dd494fd9725479baa67e9a656fd4cdc",
      "selectedImage": "[{\u0022key\u0022:\u0022791c3401-052f-4e24-899e-a247dcb14bed\u0022,\u0022mediaKey\u0022:\u002246b2a351-41a6-4f89-994e-7507456d0b24\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "fossilgroup"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fe08eb3e6f334fa0bd9f4d11c4dcdec4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b14a4df816c34cfbb9c90cdb941aee32",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9129fa0d09244d1ea6ab47273b74813f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6cacb9d811f045599246b68c84b3c4fb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/065ea7842e0f497f8da303325877cfd7",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8dd494fd9725479baa67e9a656fd4cdc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerSlides>
    <siteFavicon>
      <Value><![CDATA[]]></Value>
    </siteFavicon>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "611ff03c-4940-4706-9501-b1eb49bda9cb",
    "mediaKey": "cfb46a38-a4d5-47b0-80cc-7e8665bd11ae",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions For You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "udi": "umb://element/c74d6f8e26ba474094848a6d00453472",
      "platformName": "[\u0022Facebook\u0022]",
      "platformLinkUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "udi": "umb://element/0331348ff33b49d2b50077398d013353",
      "platformName": "[\u0022Instagram\u0022]",
      "platformLinkUrl": "https://instagram.com/onatrix"
    },
    {
      "contentTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "udi": "umb://element/c99a4895221a4807ab4a113be859fb02",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformLinkUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "udi": "umb://element/b18104299b6c474ca717f058b46849b9",
      "platformName": "[\u0022TikTok\u0022]",
      "platformLinkUrl": "https://tiktok.com/onatrix"
    },
    {
      "contentTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "udi": "umb://element/1ad1f4319eff4a498f4e5a466650e9a5",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformLinkUrl": "https://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c74d6f8e26ba474094848a6d00453472",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/0331348ff33b49d2b50077398d013353",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c99a4895221a4807ab4a113be859fb02",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b18104299b6c474ca717f058b46849b9",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1ad1f4319eff4a498f4e5a466650e9a5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>