#about-us-home {
    .container {
        position: relative;
        padding-bottom: 4rem;
        
        .form-container {
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: -15rem;
            z-index: 1;
            background-color: white;

            h2 {
                background-color: var(--color-primary);
                color: var(--color-secondary);
                padding: 1rem;
                text-align: center;
            }

            p {
                padding: 1rem;
                font-size: 13px;
                font-style: italic;
            }

            .form-area {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin:0 1rem 0 1rem;
            }

            select {
                margin-top: 2rem;
                margin-bottom: 2rem;
                color: var(--color-default);
            }

            button {
                background-color: var(--color-secondary);
                color: var(--color-primary);
                border: none;
                margin: 1rem;

                &:hover {
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                }
            }
        }
    }
}