.form-input {
    font-style: italic;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ECECEC;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    color: var(--color-default);
}