.border-left {
    border-left: 1px solid #ECECEC;
    padding-left: 4rem;
    margin-right: -2rem;
}

.border-right {
    border-right: 1px solid #ECECEC;
    padding-right: 4rem;
    margin-left: -2rem;
}