#why-choose-us {

    .background-image {
        width: 1170px;
        height: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }

    .container {

        .btn-primary {
            margin-top: 2rem;
        }

        img {
            margin-top: 6rem;
        }
    }
    
}