<?xml version="1.0" encoding="utf-8"?>
<DataType Key="990c2166-292c-430b-b36a-4d971b26540f" Alias="Button Link - Button Alignment" Level="1">
  <Info>
    <Name>Button Link - Button Alignment</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Start",
    "Center",
    "End"
  ]
}]]></Config>
</DataType>