<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d07f5b8b-b209-4e40-b7dc-5393ba0779d6" Alias="Button - Button Type - Dropdown" Level="1">
  <Info>
    <Name>Button - Button Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>