<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ba6b179-5041-4d81-a0d8-31d02843b08a" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0458df8-18b8-4069-a42c-14141a22d7e5"
    },
    {
      "contentElementTypeKey": "feb16dc1-bf3c-4497-afd9-af0bdfd084e0"
    },
    {
      "contentElementTypeKey": "4c463db6-48e2-4087-95d3-2513457cce41"
    },
    {
      "contentElementTypeKey": "128bd937-fef6-4ab0-b337-952c84c90502"
    },
    {
      "contentElementTypeKey": "72e36621-7af1-45ec-bdc6-db41df3bdeda"
    },
    {
      "contentElementTypeKey": "33f1271f-fee2-4e86-a0c5-216fec4bcdf7"
    }
  ]
}]]></Config>
</DataType>