<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74ef702a-0742-414c-a492-b7e5dd5aecec" Alias="InputText - Input Type - Dropdown" Level="1">
  <Info>
    <Name>InputText - Input Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "tel",
    "text",
    "email"
  ]
}]]></Config>
</DataType>