<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d95d30b5-04c5-4a17-85d1-f6dd8c8656e8" Alias="Projects List Page - Help Form " Level="1">
  <Info>
    <Name>Projects List Page - Help Form </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>