<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b9f11b0-0be6-4224-8103-679b4cdb9ea1" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark-Color"
    },
    {
      "value": "4F5955",
      "label": "Primary-Color"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary-Color"
    },
    {
      "value": "F2EddC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "FFFFFF",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>