<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb46d554-0c46-440d-9244-8b1b66df3489" Alias="Select Dropdown - Dropdown Selection" Level="1">
  <Info>
    <Name>Select Dropdown - Dropdown Selection</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Consulting",
    "Financial Advisors"
  ],
  "multiple": true
}]]></Config>
</DataType>