<?xml version="1.0" encoding="utf-8"?>
<DataType Key="944c9dc7-c7c3-42e5-bfdb-edf9c84a400e" Alias="Service List Item - Service Items - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Service List Item - Service Items - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "stylesheets": [
    "/RTE.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "forecolor",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link"
  ]
}]]></Config>
</DataType>