<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6dc6e68-5dab-4021-b5bb-eb1910e55b25" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef4c4dca-ca7a-4a34-9c4f-1a8fb76955fd",
      "label": "**{=platformName}** - {=platformLinkUrl}"
    }
  ]
}]]></Config>
</DataType>