<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f059b3c6-fcfc-43f8-982e-f15a10e5b60c" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (formerly Twitter)"
  ]
}]]></Config>
</DataType>