<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="205341a7-1acb-43b4-bb51-251fb038d0af" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2cfaae28-277e-42bb-a421-62e81bdbd661">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="205341a7-1acb-43b4-bb51-251fb038d0af" SortOrder="0">modularPage</ContentType>
    <ContentType Key="6547cccd-2b2a-4208-b9b9-b176fe0924c1" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="7651dc3b-223a-4793-ba6c-5f1384cbb34f" SortOrder="2">projectsListPage</ContentType>
    <ContentType Key="db37f987-e777-4202-96ce-2fd984470d58" SortOrder="3">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>15d86ff1-0b72-44eb-b30a-c9ab58788de2</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>d1c68cf4-5e53-49c4-94f3-3baaaf0fc39d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12716834-1efd-4add-9e97-8a5259133a9a</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>60898c9f-01a5-4b7f-8e87-ea1ee018c1e6</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7e74b9f1-2f1c-4d4d-b038-95b488aec73f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>