<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd4b37a0-6fd3-45c7-909b-20ed7f2c4e4c" Alias="5-star.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:41:48</CreateDate>
    <NodeName Default="5-star.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kkfosl4i/5-star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>