<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5a964f3-296d-44ae-b160-49741fd290b3" Alias="aaron-lambert.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:41</CreateDate>
    <NodeName Default="aaron-lambert.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ahmbwb1w/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>