<?xml version="1.0" encoding="utf-8"?>
<Media Key="609887b1-2de0-4979-b71e-7bc4c5764a1c" Alias="about-page-ce.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutPageCesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:20:14</CreateDate>
    <NodeName Default="about-page-ce.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/im3dvax1/about-page-ce.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>