<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2fdc7f-6c4a-4b2e-9da1-6bd7c50107be" Alias="annual-report-thumbnail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annualReportThumbnailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:01:42</CreateDate>
    <NodeName Default="annual-report-thumbnail.svg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rvqj0kkr/annual-report-thumbnail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>