<?xml version="1.0" encoding="utf-8"?>
<Media Key="623b5f0b-beb2-4419-aa88-6edb19a26e97" Alias="annual-report.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annualReportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T15:51:57</CreateDate>
    <NodeName Default="annual-report.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hrjtafj/annual-report.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>