<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad7fc0e4-282c-4264-af64-b2d9bff68a82" Alias="brandon-kerr.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:44</CreateDate>
    <NodeName Default="brandon-kerr.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cz4n0tzx/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>