<?xml version="1.0" encoding="utf-8"?>
<Media Key="a128399f-c5d4-436c-b923-41871a98f35b" Alias="brandon-newton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:47</CreateDate>
    <NodeName Default="brandon-newton.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nwciuq4p/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>