<?xml version="1.0" encoding="utf-8"?>
<Media Key="46c3a961-d6fb-49be-9121-977e3cc76763" Alias="budget-planning.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/budgetPlanningsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T10:12:40</CreateDate>
    <NodeName Default="budget-planning.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smkgdjha/budget-planning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>