<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ed15824-5142-42cb-9c09-4921177b6048" Alias="budget-planning-thumbnail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/budgetPlanningThumbnailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:01:45</CreateDate>
    <NodeName Default="budget-planning-thumbnail.svg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01shhpcz/budget-planning-thumbnail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>