<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc183b0f-8ed4-4e29-99f0-631ea8f417ca" Alias="business-insight-thumbnail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessInsightThumbnailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:01:48</CreateDate>
    <NodeName Default="business-insight-thumbnail.svg" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5wdlulwp/business-insight-thumbnail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>