<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff856e0e-a9b5-4fc9-8d8e-aecd28e097b2" Alias="business-insight.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessInsightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T10:11:33</CreateDate>
    <NodeName Default="business-insight.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5tjdohno/business-insight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>