<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c1ff4e9-894d-47b8-b6ce-85648075f7d3" Alias="choose-us.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chooseUssvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:00:23</CreateDate>
    <NodeName Default="choose-us.svg (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnel05sw/choose-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>