<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e045e09-6bfb-47fe-a81a-ec8dc6ee141f" Alias="dot-map-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T20:27:17</CreateDate>
    <NodeName Default="dot-map-2.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5prlnpha/dot-map-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>