<?xml version="1.0" encoding="utf-8"?>
<Media Key="affc7dd8-049c-4219-ab68-a6e2fab0eae9" Alias="dot-map-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:59:57</CreateDate>
    <NodeName Default="dot-map-1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/flaf2tmh/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>