<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc30fdbc-7527-4b3b-8d9c-7296049aff26" Alias="dots-section-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotsSectionImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T19:45:47</CreateDate>
    <NodeName Default="dots-section-image.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzajehr2/dots-section-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>