<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9720177-b0b3-4d99-9060-0da347bf6fdd" Alias="financial-advisors-thumbnail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/financialAdvisorsThumbnailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:01:51</CreateDate>
    <NodeName Default="financial-advisors-thumbnail.svg" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qw4nac3i/financial-advisors-thumbnail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>