<?xml version="1.0" encoding="utf-8"?>
<Media Key="46b2a351-41a6-4f89-994e-7507456d0b24" Alias="fossilgroup.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T17:51:31</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umpbbjf3/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>