<?xml version="1.0" encoding="utf-8"?>
<Media Key="31565512-637a-4d0a-92b8-1f11cd45c51e" Alias="freedombird.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T16:50:31</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2dupju1b/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>