<?xml version="1.0" encoding="utf-8"?>
<Media Key="97c0dbb7-e771-47f3-8bfe-8c27fc54822b" Alias="globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T17:51:10</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ivtge3lk/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>