<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab3a9472-fc9c-453d-80ea-3694873b7027" Alias="grey-section.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/greySectionsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T19:45:40</CreateDate>
    <NodeName Default="grey-section.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qaujqsmh/grey-section.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>