<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9181c37-f56f-465c-aa2a-70dc0d4d6370" Alias="identity.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T16:51:27</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ywqluo1u/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>