<?xml version="1.0" encoding="utf-8"?>
<Media Key="24352b6f-089c-4c13-a41d-e2f4fc382d9e" Alias="image-text-services.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imageTextServicessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T12:29:55</CreateDate>
    <NodeName Default="image-text-services.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twljpruh/image-text-services.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>