<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab9a05e0-016c-49db-a0e8-c7df351d3a2d" Alias="image-aside-services.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imageAsideServicessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T11:39:30</CreateDate>
    <NodeName Default="image-aside-services.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ck2dqslx/image-aside-services.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>