<?xml version="1.0" encoding="utf-8"?>
<Media Key="edb441c8-dac5-41fb-948a-2f0bd7352cb7" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:38:15</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hl4bmd44/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>