<?xml version="1.0" encoding="utf-8"?>
<Media Key="1da7402a-1b26-4b14-b882-4b6cfe51014b" Alias="kevin-garderner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardernersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:50</CreateDate>
    <NodeName Default="kevin-garderner.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1d4bl5z3/kevin-garderner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>