<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfb46a38-a4d5-47b0-80cc-7e8665bd11ae" Alias="logotype.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotypesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T13:31:46</CreateDate>
    <NodeName Default="logotype.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zllbmloo/logotype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>