<?xml version="1.0" encoding="utf-8"?>
<Media Key="448bcef1-fb59-418f-a9fc-c162ef5d03e3" Alias="management-1-big.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/management1Bigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:45:28</CreateDate>
    <NodeName Default="management-1-big.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/anzdtjsc/management-1-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>