<?xml version="1.0" encoding="utf-8"?>
<Media Key="821c1534-cb4f-43a9-b439-1cf8ba0c506e" Alias="miranda-dayton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:53</CreateDate>
    <NodeName Default="miranda-dayton.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y0ul2ycu/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>