<?xml version="1.0" encoding="utf-8"?>
<Media Key="9229cc3f-4e5b-4b9d-9a81-e3bdd0594897" Alias="natural.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T17:50:44</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvyjw2ca/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>