<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f8819c6-b86c-4c7d-8d5d-cc087271cb49" Alias="projects-woman.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsWomansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:24:09</CreateDate>
    <NodeName Default="projects-woman.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gsscu5lx/projects-woman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>