<?xml version="1.0" encoding="utf-8"?>
<Media Key="17fbbc18-c346-4261-969d-6ce42c2cade9" Alias="projects-big-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsBigImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:23:42</CreateDate>
    <NodeName Default="projects-big-img.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3iaft3k3/projects-big-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>