<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fc04c7b-f11b-467b-bb01-3891af7c5db4" Alias="projects-end-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsEndImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:24:06</CreateDate>
    <NodeName Default="projects-end-image.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhyhf5ia/projects-end-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>