<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a73de33-c4d0-4b5f-9515-2c3185e9f520" Alias="service-bonds.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceBondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T12:10:58</CreateDate>
    <NodeName Default="service-bonds.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yfrnc4gl/service-bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>