<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7881f98-9ce2-4036-847b-fcabb8e0cef0" Alias="service-tax.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceTaxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:24:21</CreateDate>
    <NodeName Default="service-tax.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nkrcubpz/service-tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>