<?xml version="1.0" encoding="utf-8"?>
<Media Key="e13a05f1-6720-4ff1-9494-d6bf699439e0" Alias="service-bonds.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceBondssvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T13:33:45</CreateDate>
    <NodeName Default="service-bonds.svg (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ao2jqaz1/service-bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>