<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dbddd7d-f4f3-457b-93c4-2f7504305f80" Alias="service-management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T12:08:20</CreateDate>
    <NodeName Default="service-management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r3qb415i/service-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>