<?xml version="1.0" encoding="utf-8"?>
<Media Key="4495f078-49f0-4341-8330-413e5a77d51b" Alias="service-statistic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceStatisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:25:47</CreateDate>
    <NodeName Default="service-statistic.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rjgdpjxl/service-statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>