<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dfe8010-eff5-45de-95f0-610f47bd81b1" Alias="service-assurance.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceAssurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T13:33:59</CreateDate>
    <NodeName Default="service-assurance.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2i4fzl5o/service-assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>