<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e65faf5-2808-437c-a215-9c9d2d37f3f0" Alias="service-financial.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceFinancialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:25:16</CreateDate>
    <NodeName Default="service-financial.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a3dnptat/service-financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>