<?xml version="1.0" encoding="utf-8"?>
<Media Key="9975be3c-a2ec-4d71-b2f9-95e3a90a043f" Alias="signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T19:31:12</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zybno45x/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>