<?xml version="1.0" encoding="utf-8"?>
<Media Key="131ff430-eb23-4c58-8ded-0e3228fc96c8" Alias="simpleaf.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T17:50:59</CreateDate>
    <NodeName Default="simpleaf.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yjel12jy/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>