<?xml version="1.0" encoding="utf-8"?>
<Media Key="355ffa4b-def6-4239-a2bb-396eeeaaa6a8" Alias="success-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T21:26:46</CreateDate>
    <NodeName Default="success-image.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xfdp1v5n/success-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>