<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ac3ebd7-21eb-46f7-ae36-c940a1755127" Alias="tina-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:30:56</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evlgd0hq/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>