<?xml version="1.0" encoding="utf-8"?>
<Media Key="72104fc2-6cb1-43cc-a872-849f879faf6a" Alias="why-choose-us.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/whyChooseUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:51:17</CreateDate>
    <NodeName Default="why-choose-us.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gdzlfefk/why-choose-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>